.content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
     ::ng-deep router-outlet~* {
        position: absolute;
    }
}

.nav-toggle {
    z-index: 10;
    position: absolute;
    left: 10px;
    top: 10px;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    background-color: #E3F2FD;
    width: 250px;
    h1 {
        text-align: center;
        a {
            text-decoration: none;
            color: #000;
        }
    }
}

mat-nav-list .current-room {
    background-color: rgba(140, 201, 249, .8);
}

mat-nav-list mat-icon {
    color: #3f51b5;
}

.anon {
    mat-icon {
        margin-right: 6px;
    }
}

img.provider {
    margin-right: 6px;
}