<mat-sidenav-container>
	<mat-sidenav #sidenav mode="side">
		<h1>Bingo!</h1>
		<mat-nav-list>
			<h3 mat-subheader>Join a game</h3>
			<a mat-list-item *ngFor="let room of rooms$ | async" [routerLink]="[room.id, 'board']">
				<h4 matLine>{{ room.name }}</h4>
				<span matLine>{{ (room.boards | keys).length }} player(s)</span>
				<mat-icon class="launch" matTooltip="Join">launch</mat-icon>
			</a>
			<mat-divider></mat-divider>
			<a mat-list-item>
				<mat-icon mat-list-icon>add_circle</mat-icon>Create room
			</a>
			<mat-divider></mat-divider>
			<a mat-list-item routerLink="/admin">
				<mat-icon mat-list-icon>add_circle</mat-icon>Add words
			</a>
			<mat-divider></mat-divider>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="nav-toggle" (click)="sidenav.toggle()">
			<button mat-mini-fab color="primary">
				<mat-icon *ngIf="sidenav.opened">keyboard_arrow_left</mat-icon>
				<mat-icon *ngIf="!sidenav.opened">keyboard_arrow_right</mat-icon>
			</button>
		</div>

		<div class="content">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>