<ng-container *ngIf="board$ | async; let playerBoard">
	<div class="header">
		<button mat-icon-button (click)="resetBoard(playerBoard)">
			<mat-icon>autorenew</mat-icon>
		</button>
		{{ playerBoard.id }}
	</div>

	<div class="board-wrap">
		<bingo-board [board]="playerBoard" (squareClicked)="squareClicked(playerBoard)">
		</bingo-board>
	</div>
</ng-container>

<div class="other-players">
	<div class="mini-board" *ngFor="let pb of competitorBoards$ | async">
		<bingo-board [board]="pb" size="mini">
		</bingo-board>
		{{pb.id}}
	</div>
</div>